
td {
    /*border: 1px solid black;;*/
    text-align: center;
}

tbody, #profilePic {
    /*border: 2px solid black;*/
    /*align-content: center;*/
}

.oop td{
    border: 1px solid black;
}

/*
 Used to test the layout of divs
*/

/*div {*/
/*    padding: 1px;*/
/*    border: solid 1px silver;*/
/*}*/

#header, #footer, #menuPanel {
    width: 100%;
    /*top: 0;*/
    background-color: blue;
    /*padding: 10px;*/
    color: white;
}

#menuPanel {
    margin-right: 10px;
}

.menu {
    background-color: #3b30a4;
}

#footer {
    width: 100%;
    height: 40px;
    color: white;
    bottom: 0;
    position: fixed;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.colorTable {
    border: solid 1px black;
}

.red, .green, .blue {
    width: 30px;
    height: 30px;
}

#profilePic {
    width: 110px;
    height: 110px;
    float: left;
    margin-right: 10px
}

#center {
    /*height: 765px;*/
    height: 80vh;
}


#menuPanel {
    max-height: 100%;
}

.logoImages {
    max-width: 230px;
    top: 0;
    left: 0;
}

button {
    padding: 15px 15px;
    background: transparent;
    border: none;
}

#labAccordion, #projectAccordion {
    background-color: #2d93c0;
}

.verticalMenu {
    width: 250px;
    height: 500px;
    overflow-y: scroll;
}

.card{
    background-color: #7fa46a;
}

.table-striped{
    font-size: 13px;
}
